header {
   max-width: 1920px;
   width: 100%;
   margin: 0 auto;
   padding: 15px 30px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #ffffffe6;
   backdrop-filter: blur(10px);
   position: sticky;
   top: 0;
   z-index: 10;
}

header ul,
.header-contact {
   display: flex;
   align-items: center;
   gap: 26px;
   text-transform: uppercase;
}

.headr-nav_list-item_link {
   position: relative;
   margin-right: 26px;
}

/* .headr-nav_list-item_link:hover{
  
} */

.headr-nav_list-item_link::after {
   content: '';
   width: 10px;
   height: 10px;
   border-top: 1px solid #000;
   border-right: 1px solid #000;
   position: absolute;
   top: 2px;
   margin-left: 10px;
   transform: rotate(135deg);
}

.header-contact {
   gap: 40px;
}

.header-logo-item {
   width: 162px;
}

.header-logo {
   height: 40px;
}

.header-btn {
   background: #CE2127;
   color: #fff;
   border-radius: 30px;
   padding: 10px 30px;
   border: none;
   text-transform: uppercase;
   letter-spacing: 0.5px;

}