header {
   max-width: 1920px;
   width: 100%;
   margin: 0 auto;
   padding: 15px 30px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #ffffffe6;
   backdrop-filter: blur(10px);
   position: sticky;
   top: 0;
   z-index: 10;
}

header ul,
.header-contact {
   display: flex;
   align-items: center;
   gap: 26px;
   text-transform: uppercase;
}

.header-nav_list-item_link {
   position: relative;
   margin-right: 26px;
   transition: all 0.3s ease;
}


.header-nav_list-item_link::after {
   content: '';
   width: 10px;
   height: 10px;
   border-top: 1px solid #000;
   border-right: 1px solid #000;
   position: absolute;
   margin-left: 10px;
   transform: rotate(135deg);
   transition: all 0.3s ease;
}

/* / hoover li */
.header-nav_list-item:hover .header-nav_list-item_link::after {
   border-top: 1px solid #CE2127;
   border-right: 1px solid #CE2127;
}

.header-nav_list-item:hover .header-nav_list-item_link {
   color: #CE2127;
}

.header-contact_list-item:hover .header-nav_list-item_link::after {
   border-top: 1px solid #CE2127;
   border-right: 1px solid #CE2127;
}

.header-contact_list-item:hover .header-nav_list-item_link {
   color: #CE2127;
}

header li {
   transition: all .3s ease;
}

header li:hover {
   color: #CE2127;
}


.header-contact {
   gap: 40px;
}

.header-logo-item {
   width: 162px;
}

.header-logo {
   height: 40px;
}

.header-btn {
   background: #CE2127;
   color: #fff;
   border-radius: 30px;
   padding: 10px 30px;
   border: none;
   text-transform: uppercase;
   letter-spacing: 0.5px;

}