main {
   max-width: 1920px;
   width: 100%;
   margin: 0 auto;
   padding: 0 30px;
   position: relative;
}


/* // first section */
.first-section {
   display: flex;
   align-items: center;
   margin-top: 70px;
}

h1 {
   font-size: 96px;
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.first-section_left {
   max-width: 884px;
   color: #fff;
   margin-left: 150px;
}

.first-section_left>p {
   font-size: 48px;
   max-width: 683px;
   margin-top: 10px;
}

.first-section-background {
   max-width: 100%;
   position: absolute;
   top: -140px;
   left: 0;
   z-index: -1;
}

.first-section_left-info {
   display: flex;
   margin-top: 70px;
   gap: 40px;
}

.first-section_left-info img {
   height: 60px;
   width: 60px;
}

.first-section_left-info>div {
   display: flex;
   align-items: center;
   max-width: 230px;
}

.first-section_left-info-text {
   font-size: 20px;
   margin-left: 15px;
}

.first-section_right div img {
   width: 858px;
   height: 858px;
   border-radius: 50%;
   object-position: left;
}

/* // slider */
.first-section_left-slider {
   margin-top: 70px;
   
}

.slider-info {
   padding: 30px 50px;
   width: 500px;
   border-radius: 30px;
   background: #ffffff4d;
   backdrop-filter: blur(20px);
   text-transform: uppercase;
   background-image: url('../../img/slider/discount.png');
   background-position: right bottom;
   background-repeat: no-repeat;
   
}

.slider-info p:first-child {
   font-weight: 600;
}

.slider-info p {
   font-size: 24px;
   font-weight: 400;
   max-width: 250px;
}

.slider-btn {
   background: none;
   color: #fff;
   padding: 15px 40px;
   text-transform: uppercase;
   border: 2px solid #fff;
   border-radius: 30px;
   margin-top: 20px;
}

.slider-dots{
   display: flex;
   gap: 10px;
   width: 500px;
   justify-content: center;
   margin-top: 20px;
}
.dot{
   width: 12px;
   height: 12px;
   background-color: #fff;
   opacity: 0.5;
   border-radius: 50%;
}
.active-dot{
   opacity: 1;
}

.slider-arrow-prev{
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(-50%,-50%);
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
}
.slider-arrow-prev::after{
   content: '';
   width: 15px;
   height: 15px;
   border-top: 2px solid #000;
   border-right: 2px solid #000;
   position: absolute;
   top: 40%;
   left: 40%;
   transform: rotate(225deg);
   
}
.slider-arrow-next{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(50%,-50%);
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
}

.slider-arrow-next::after{
   content: '';
   width: 15px;
   height: 15px;
   border-top: 2px solid #000;
   border-right: 2px solid #000;
   position: absolute;
   top: 40%;
   right: 40%;
   transform: rotate(405deg);
   
}
