
/* // slider of main */
.slide1{
   background-image: url('../../img/slider/discount.png');
}
.slide2{
   background-image: url('../../img/slider/birthday.png');
}
.slide3{
   background-image: url('../../img/slider/party.png');
}
/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
   overflow: hidden;
}

/* Лента слайдов */
.slick-track {
   display: flex;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

.slider {
   position: relative;
}

/* Стрелка */
.slick-arrow {
   position: absolute;
   z-index: 10;
   font-size: 0;
   border: #fff;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
   left: 0;
   top: 50%;
   transform: translate(-50%, -60%);
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background: #fff;
}

.slick-arrow.slick-prev::after {
   content: '';
   width: 15px;
   height: 15px;
   border-top: 2px solid #000;
   border-right: 2px solid #000;
   position: absolute;
   top: 40%;
   left: 40%;
   transform: rotate(225deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
   top: 50%;
   transform: translate(50%, -60%);
   right: 0;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
}

.slick-arrow.slick-next::after {
   content: '';
   width: 15px;
   height: 15px;
   border-top: 2px solid #000;
   border-right: 2px solid #000;
   position: absolute;
   top: 40%;
   right: 40%;
   transform: rotate(405deg);
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slick-dots li {
   list-style: none;
   margin-right: 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
   opacity: 1;
}

/* Элемент точки */
.slick-dots li button {
   font-size: 0;
   width: 12px;
   height: 12px;
   background-color: #fff;
   opacity: 0.5;
   border-radius: 50%;
   border: none;

}



.slide1{
   background-image: url('../../img/slider/discount.png');
}
.slide2{
   background-image: url('../../img/slider/birthday.png');
}
.slide3{
   background-image: url('../../img/slider/party.png');
}


@media (max-width: 625px) {
   .slide1{
      background-image: url('../../img/slider/discount.png');
      background-size: 50%;
   }
   .slide2{
      background-image: url('../../img/slider/birthday.png');
      background-size: 50%;
   }
   .slide3{
      background-image: url('../../img/slider/party.png');
      background-size: 50%;
   }
   
}